.pad {
    background-color: pink;
    border: 1px solid black;
    height: 100px;
    flex-grow: 1;
}

.pad-row{
    background-color: grey;
    display: flex;
    flex-grow: 1;
}
.pad-container{
    display: flex;
    flex-direction: column;
}