body{
    margin: 0;
}

.pad {
    background-color: pink;
    height: 100%;
    flex-grow: 1;
    caret-color: transparent;
}

.pad-row{
    background-color: grey;
    display: flex;
    flex-grow: 1
}
.pad-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.button-container{
    display: flex;
    justify-content: center;
}

button{
    margin-top: 5px;
    position: fixed;
    font-family: monospace;
    background-color: rgb(255, 153, 170);
    border: none;
    border-radius: 5px;
}